<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>container</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .container {
        width: 80%;
        border: 1px solid grey;
        margin: 0 auto;
        height: 800px;
        container-type: inline-size;
        container-name: container;
      }
      .box {
        width: 100px;
        height: 100px;
        background: green;
      }
      @container container (max-width:800px) {
        .box {
          background: red;
        }
      }
    </style>
  </head>
  <body>
    <div>
      Chrome: Go to chrome://flags, search for Container Queries and enable
      that<br />
      flag. Safari Technology Preview: Enabled by default.
    </div>

    <div class="container">
      <div class="box"></div>
    </div>
  </body>
</html>
