<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
       *{
           padding:0;
           margin:0;
       }
       body{
           margin:40px;
       }
       .grid-container{
           display:grid;
           grid-template-columns:1fr 6fr 1fr;
           grid-gap:1rem;
       }
       .grid-item{
           background:lightsalmon;
           height:50px;
       }
       .grid-item:first-child{
           grid-column:1/4;
       }
        
        
    </style>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </div>
</body>
</html>