<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
       *{
           padding:0;
           margin:0;
       }
       body{
           margin:40px;
       }
       .wrapper{
           display:flex;
           border:1px solid green;
           height: 300px;
           justify-content: center;
           align-items: center;
       }
       .wrapper div{
           display: inline-block;
           width:30px;
           height:30px;
           background-color:olive;
       }
        
    </style>
</head>
<body>
    <div class="wrapper">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
</body>
</html>