@charset "utf-8";
/* CSS Document */

html,body,div,p,span,iframe,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,thead,tbody,tr,th,td,blockquote,a,pre,I,address,code,del,em,img,strong,fieldset,label,legend,input,form{
	margin:0;
	padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body{font:12px/1.5 "microsoft yahei",Helvetica,Arial;text-align:center;background:#fff; color:#444;}
em{ font-style:normal;}
h1,h2,h3,h4,h5,h6{ font-size:1em;}
ul,ol{list-style-type:none;}
table{ border-collapse:collapse;}
input,img{vertical-align:top;}
input{ border:0; outline:none;}
img{ border:none;}
i{ font-style:normal; color:#000;}
a{ text-decoration:none; color:#000;}
a:hover{ text-decoration:underline; }
.red{ color: #e00000;}
.clear{clear: both;overflow:hidden; height:0px; line-height:0px; width:0px;}
.clearRight{ clear:right;}
/* 利用生成内容清理浮动 for IE8(标准模式) 和 非IE浏览器 */
.cs_clear:after { 
    content: ".";
    clear: both;
    height: 0;
		line-height: 0;
		font-size: 0px;
    visibility: hidden;
    display: block;
}
/* 激发IE中的hasLayout属性 for IE8(Quirks)模式和IE6\7浏览器*/
.cs_clear{ 
    *zoom:1;
}